<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icones/logo.png">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/statics/register.css?v1">
</head>

<body>
    <div class="container">

        <div class="image">
            <img src="/icones/forum.jpeg">
        </div>


        <div class="parti2">
            <div class="cart">
                <form method="POST" action="/register">
                    <h2>Create a New Account</h2>
                    <div class="mrigl">
                        <div class="inputat">
                            <br>
                            <label>Username:</label>
                            <input type="text" name="username" placeholder="Enter username" value="{{ .Username }}"
                                maxlength="20" required />
                            <br>
                            <label>Email:</label>
                            <input type="email" name="email" placeholder="example@email.com" value="{{ .Email }}"
                                required />
                            <br>
                            <label>Password: </label>
                            <input type="password" name="password" placeholder="Enter password" maxlength="20"
                                minlength="6" required />
                            <br>
                            <label>Confirm Password:</label>
                            <input type="password" name="confirm_password" placeholder="Re-enter password"
                                maxlength="20" minlength="6" required />
                            <button type="submit">Sign Up</button>

                            <div class="link">
                                If you have an account? <a href="/login">click here</a>
                                <h4>{{ .Message }}</h4>

                            </div>

                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>

</body>

</html>