body {
    height: 100vh;
    background: linear-gradient(130deg, #F1E7FF, #DCE9FE);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}



.container {
    margin: 150px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    width: 65%;
    flex-direction: row;
    box-shadow: 10px 10px 40px 3px rgba(0, 0, 0, 0.247);
    overflow: hidden;
    height: 50%;

}

.image {
    width: 50%;
    margin: auto;
    margin: 0;
    padding: 0;
    display: flex;
    background: #FDFDFD;
}

img {
    width: 85%;
    height: auto;
    border-radius: 8px;
    margin: auto;
}

.parti2 {
    background: linear-gradient(130deg, #CAD8FC, #616FF8);
    display: flex;
    width: 50%;

}

.cart {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 15px;
}

.mrigl {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0;
    padding: 0;
    border-radius: 20px;
    height: 45px;
    width: 100%;
    text-align: center;
    border: none;
}

.label {
    font-size: 10px;
}

.inputat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
}

h2 {
    color: #222;
    text-align: center;
    font-size: 35px;
}


button {
    height: 45px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #3A42D8;
    width: 85%;
    text-align: center;
    border: none;
    color: aliceblue;
    cursor: pointer;

}
h4 {
    font-size: 20px;
    color: red;
}
a {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    font-size: 18px;
}
p{
    text-align: center;
    color: #222
}
/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .parti2{
        width: 100%;
    }

    .image {
        width: 100%;
     
    }
}
