html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(130deg, #F1E7FF, #DCE9FE);
    background-size: cover;
    display: flex;
    flex-direction: row;
}



.container {
    margin: 0;
    padding: 0;
    height: auto;
    border-radius: 10px;
    margin: auto;
    display: flex;
    width: 65%;
    flex-direction: row;
    box-shadow: 10px 10px 40px 3px rgba(0, 0, 0, 0.247);
    overflow: hidden;
}

.image {
    width: 50%;
    margin: auto;
    margin: 0;
    padding: 0;
    display: flex;
    background: #FDFDFD;
}

img {
    width: 85%;
    height: auto;
    border-radius: 8px;
    margin: auto;
}

.parti2 {
    background: linear-gradient(130deg, #CAD8FC, #616FF8);
    display: flex;
    width: 50%;
}

.cart {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 15px;
}

.mrigl {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

input {
    margin: 0;
    padding: 0;
    border-radius: 20px;
    height: 45px;
    width: 100%;
    border: none;
    text-align: center;
}

.label {
    font-size: 10px;
}

.inputat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;

}

h2 {
    text-align: center;
    font-size: 35px;
    color: #222;
}


button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #3A42D8;
    height: 40px;
    width: 85%;
    text-align: center;
    border: none;
    color: aliceblue;
    height: 45px;
    width: 100%;
    cursor: pointer;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: red;
}

a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    color: #000;
    font-size: 18px;
}

.link {
    text-align: center;
    color: #222
}

@media (max-width: 920px) {
 
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .parti2{
        width: 100%;
    }

    .image {
        width: 100%;
     
    }
}